<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HorizonAirways</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlightScheduleServlet</display-name>
    <servlet-name>FlightScheduleServlet</servlet-name>
    <servlet-class>com.px1.horizonairways.servlet.FlightScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightScheduleServlet</servlet-name>
    <url-pattern>/flightschedule</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IndexFilter</display-name>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.px1.horizonairways.filter.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.px1.horizonairways.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.px1.horizonairways.servlet.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightReservationDetailsServlet</display-name>
    <servlet-name>FlightReservationDetailsServlet</servlet-name>
    <servlet-class>com.px1.horizonairways.servlet.FlightReservationDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightReservationDetailsServlet</servlet-name>
    <url-pattern>/flightdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationCompletionServlet</display-name>
    <servlet-name>ReservationCompletionServlet</servlet-name>
    <servlet-class>com.px1.horizonairways.servlet.ReservationCompletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationCompletionServlet</servlet-name>
    <url-pattern>/reservationCompletion</url-pattern>
  </servlet-mapping>
</web-app>