@CHARSET "ISO-8859-1";
table{
	font-size:1em;
	
}




td{

	padding:5px;
	text-align:center;
}



a{
	text-decoration:none;
	
}

a:hover{
	color:#003300;
	weight:bold;
	text-decoration:underline;
	
}

.login > div:first-child {
	font-size: large;
	font-weight: bold;
	display: inline-flex;
	justify-content: flex-start;
	width: 49%;
}

.login > div:last-child {
	display: inline-flex;
	justify-content: flex-end;
	width: 50%;
}

.flightDetails{
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
}