@CHARSET "ISO-8859-1";

th {
	padding: 5px;
}

.nav {
	float: right;
	font-size: 15px;
	margin-right: 10px;
	margin-top: 15px;
}

.nav b {
	margin-left: 10px;
}

.flightDetails {
	margin-top: 80px;
}