@CHARSET "ISO-8859-1";

th {
	padding: 5px;
}

.header {
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );	
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	
	background: -o-linear-gradient(top,#ff5656,7f0000);
	background-color:#ff5656;
	width: 100%;
}

.header > div:first-child {
	margin-left: 10px;
	font-size: 30px;
	font-weight: bold;
	display: inline-flex;
	justify-content: flex-start;
	width: 48%;
}

.header > div:last-child {
	display: inline-flex;
	justify-content: flex-end;
	width: 50%;
}

.header p {
	color: #FFFFFF;
}

.nav {
	float: right;
	font-size: 15px;
	margin-right: 10px;
	margin-top: 15px;
}

.nav b {
	margin-left: 10px;
}

.flightDetails {
	margin-top: 50px;
}