@CHARSET "ISO-8859-1";

*{
	
}

div{
	margin-bottom:5px;
	
}

label{
display:block;
	width:120px;
	float:left;
	text-align:right;
	margin-right:20px;
}

input[type="text"], input[type="date"], textarea, input[type="email"] {
	width:200px;
	border:1px solid black;
	background-color: White;
}

textarea{
	height:70px;
	width:195px;
	resize:none;
}

.submit {
	margin-left: 120px;
	margin-top: 10px;
	width: 100px;
	height: 35px;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid Black;
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );	
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	
	background: -o-linear-gradient(top,#ff5656,7f0000);
	background-color:#ff5656;
	color: #FFF;
}

.submit:hover {
	cursor: pointer;
	background:-o-linear-gradient(bottom, #7f0000 5%, #ff5656 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #ff5656) );	
	background:-moz-linear-gradient( center top, #7f0000 5%, #ff5656 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#ff5656");	
	background: -o-linear-gradient(top,#7f0000,#ff5656);
	background-color:#7f0000;
	color:#FFF;
}

input[type="date"]{
	text-transform:uppercase;
}

.header {
	background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );	
	background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	
	background: -o-linear-gradient(top,#ff5656,7f0000);
	background-color:#ff5656;
	width: 100%;
}

table{
	border-collapse: collapse;
}

table,tr,td{
	border: solid 1px black ;
}

td{

	min-height:10px;
	min-width:10px;
	padding: 2px; 
}

.seat{
	cursor:pointer;
}

.occupied.seat{
	background-color: #dd0000;
}

.selected{
	background-color: #00ff00 !important;
}

.available.seat{
	background-color: #dddddd;
}

div.area{
	width: 100%;
	display: flex;
	justify-content:center;
}