@CHARSET "ISO-8859-1";

table{
	font-size:1em;
	
}




.details:hover{
	background-color: #8DF0F0;

}
td{

	padding:5px;
	text-align:center;
}



a{
	text-decoration:none;
	
}

a:hover{
	color:#003300;
	weight:bold;
	text-decoration:underline;
	
}

#roundtrip{
	display:none;
}

.filterArea{
	vertical-align: top;
}

input[type="radio"]:hover{
	cursor:pointer;
}