@CHARSET "ISO-8859-1";

table{
	border-collapse: collapse;
}

table,tr,td{
	border: solid 1px black ;
}

td{
	min-height:10px;
	min-width:10px;
	padding: 2px; 
}

.seat{
	cursor:pointer;
}

.occupied.seat{
	background-color: #dd0000;
	color: #FFFFFF !important;
}

.selected{
	background-color: #00ff00 !important;
}

.available.seat{
	background-color: #dddddd;
}

div.area{
	width: 100%;
	display: flex;
	justify-content:center;
}